@import "./variables";
@import "./mixins";

.contact-options {
  border-radius: 3rem;
  padding: 1rem;
  box-shadow: $mainBoxShadow;
  background-color: $mainColor;
}
input[type="checkbox"] {
  cursor: pointer;
  height: 2rem;
  width: 2rem;
  position: relative;
  margin-left: 17rem;
  bottom: 2rem;
}
.checkboxes label {
  display: flex;
  text-align: right;
  font-size: x-large;
  margin-top: -0.5rem;
  text-align: right;
  justify-content: flex-end;
  b {
    font-size: xx-larger;
  }
}

.form {
  display: flex;
  width: 100%;
  max-width: 100%;
  box-shadow: $mainBoxShadow;
  border-radius: 3rem;
  border: $sectionColor solid 0.5rem;
  background-color: $sectionColor;
  &:hover {
    transition: 1s;
    border: $h2Color solid 0.5rem;
  }
  form {
    margin: 2rem 0;
    textarea {
      width: 30rem;
      height: 20rem;
      margin: 0 2rem;
      border-radius: 2rem;
      border: 0.3rem outset $mainColor;
      resize: none;
      padding: 1rem;
      font-size: large;
      b {
        font-size: xx-large;
      }
    }
  }
}
.textbox {
  font-size: x-large;
}
.user-inputs {
  input {
    width: 25rem;
    height: 3rem;
    border-radius: 2rem;
    border: 0.3rem outset $mainColor;
    margin: -0.3rem 2rem;
    padding: 1rem;
    font-size: larger;
  }
}
.user-inputs label {
  font-size: x-large;
}
button input {
  width: 12rem;
  height: 4rem;
  font-size: 2rem;
  border-radius: 2rem;
  background-color: $mainColor;
  color: $headerTextColor;
  border: $headerTextColor 0.3rem outset;
  &:hover {
    cursor: pointer;
  }
}

button {
  border-radius: 2rem;
}
.social-media-links {
  display: flex;
  flex-direction: row;
  border-radius: 1rem;
  a {
    margin: 1rem;
    &:hover {
      box-shadow: $mainBoxShadow;
      border-radius: 50%;
    }
    i {
      font-size: 3rem;
      margin: 0.5rem;
      padding: 1rem;
      border-radius: 50%;

      &:hover {
        background-color: $sectionColor;
      }
    }
  }
  .group-one {
    flex-direction: row;
  }
  .group-two {
    flex-direction: row;
  }
}

@media (max-width: 1000px) {
  .social-media-links {
    display: block;
  }
  .contact-options {
    transform: scale(0.7);
    margin: -20rem 0;
  }
}
@media (max-width: 600px) {
  .contact-options {
    transform: scale(0.5);
    margin: -40rem 0;
  }
}
@media (max-width: 500px) {
  .contact-options {
    transform: scale(0.3);
    margin: -52rem -30rem;
  }
  .user-inputs input,
  textarea {
    width: 20rem;
  }
}
