@import "./variables";
@import "./mixins";

header {
  margin: 0 0 1.5rem 0;
  width: 100%;
  height: 25%;
  background-color: $mainColor;
  border-bottom: 1rem $bordersGray solid;
  animation: colorChange 6s infinite;
  font-weight: bolder;
  h1 {
    font-family: "Rubik Doodle Shadow", system-ui;
    letter-spacing: 0.5rem;
    font-size: 6rem;
    margin: 2rem 10%;
    color: $headerTextColor;
  }
  .navbar {
    width: 100%;
    li {
      display: inline;
      margin: 1rem 3rem;
      position: relative;
      font-size: xx-large;
      border-radius: 2rem;
      a {
        padding: 1rem 1.5rem;
        color: $headerTextColor;
        font-weight: bolder;
        &:hover {
          color: $bordersGray;
          font-size: 2.2rem;
          transition: 1s;
          text-shadow: $linksTxtHvrShdw;
        }
      }
    }
  }
}
footer {
  margin: 1.5rem 0 0 0;
  bottom: 0;
  width: 100%;
  font-size: x-large;
  background-color: $mainColor;
  color: $headerTextColor;
  text-align: center;
  padding: 1rem 0;
  border-top: 0.5rem solid $bordersGray;
  animation: colorChange 6s infinite;
  a:visited {
    color: $headerTextColor;
  }
  .footer-div {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
  .copyrights {
    margin: 0.5rem 0;
  }
  i {
    color: $headerTextColor;
    &:hover {
      background-color: $pink !important;
    }
  }
}
// Responsivness
@media (max-width: 1000px) {
  header .navbar {
    flex-direction: column;
  }
}
@media (max-width: 480px) {
  header .navbar {
    flex-direction: column;
  }
}
