@keyframes colorChange {
    0% { border-color: rgb(93, 93, 93); }
    25% { border-color: rgb(146, 146, 149); }
    50% { border-color: rgb(228, 163, 231); }
    75% { border-color: rgb(139, 94, 243); }
    100% { border-color: rgb(0, 128, 255); }
  }