@import "./variables";
@import "./mixins";

html[lang="he"][dir="rtl"][data-page="services"] {
  .container {
    display: flex;
    flex-direction: column;
  }
  .lessons-options {
    display: flex;
    flex-direction: column;
    border-radius: 4rem;
    background-color: $mainColor;
    border: outset 0.5rem $headerTextColor;
    margin: 2rem 0;
    .low-classes {
      display: flex;
      flex-direction: row;
      border-radius: 4rem;
    }
    .high-classes {
      display: flex;
      flex-direction: row;
      border-radius: 4rem;
    }
  }
  .lesson {
    box-shadow: $mainBoxShadow;
    padding: 1.5rem;
    margin: 1rem;
    border-radius: 3rem;
    background-color: $sectionColor;
    transition: 1s;

    img {
      width: 8rem;
      height: 8rem;
      border-radius: 3rem;
      margin: 1rem;
    }
    &:hover {
      box-shadow: $linksTxtHvrShdw;
      transform: scale(1.05);
    }
  }
  .driving-prices {
    display: flex;
    flex-direction: row;
    box-shadow: $mainBoxShadow;
    padding: 2rem;
    border-radius: 3rem;
    border: 0.7rem outset $mainColor;
  }
  #price {
    color: $pink;
    background-color: $headerTextColor;
    border-radius: 2rem;
    padding: 0.5rem;
    border: $mainColor outset 0.5rem;
    margin: 1rem 0;
    width: 10rem;
  }
  .prices-list {
    flex-direction: row;
    .price-unit {
      margin: 1rem 2rem;
      padding: 1rem 1.5rem;
    }
  }
  .lesson-units {
    flex-direction: row;
    border-radius: 3rem;
    box-shadow: $mainBoxShadow;
    border: 0.5rem outset $pink;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    .lesson-unit {
      width: 15rem;
      min-height: 6rem;
      display: block;
      padding: 0.5rem 1rem;
      border-radius: 3rem;
      border: 0.5rem outset $headerTextColor;
      box-shadow: $mainBoxShadow;
      margin: 1rem;
      background-color: $mainColor;
      h3 {
        padding: 0.5rem 1rem;
        margin: 0.5rem;
        background-color: $headerTextColor;
        border-radius: 2rem;
        color: black;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

// Responsivness
@media (max-width: 1000px) {
  .lessons-options {
    transform: scale(0.8);
  }
}
@media (max-width: 850px) {
  .lessons-options {
    flex-direction: column;
    transform: scale(0.8);
    display: flex;
    margin: -5rem -1rem !important;
    .high-classes,
    .low-classes {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
    }
  }
  .driving-prices {
    display: flex;
    flex-direction: column !important;
  }
  .prices-list {
    display: block;
    flex-direction: column;
  }
  .lesson-units {
    flex-direction: column;
    flex-wrap: wrap;
  }
}
@media (max-width: 600px) {
  .lessons-options {
    flex-direction: column;
    transform: scale(0.8);
    display: flex;
    margin: -5rem -1rem !important;

    .high-classes,
    .low-classes {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
    }
  }
}
@media (max-width: 500px) {
  .lessons-options {
    flex-direction: column;
    display: flex;
    margin: -5rem -1rem !important;

    .high-classes,
    .low-classes {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
    }
  }
  .lesson-units {
    transform: scale(0.8);
    margin: -10% 0;
  }
  .driving-prices {
    transform: scale(0.9);
  }
  h5 {
    transform: scale(0.9);
    padding: 0 3rem;
  }
}
