$mainColor: rgb(8, 107, 227);
$mainBoxShadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
  rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
  rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
$shiningBoxShadow: 0 0 60px 30px #fff, 0 0 100px 60px #f0f, 0 0 120px 90px #0ff;
$h2Color: rgb(81, 80, 80);
$headerTextColor: rgb(251, 243, 234);
$bordersGray: rgb(77, 77, 77);
$linksTxtHvrShdw: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa,
  0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa;
$bodyBgColors: linear-gradient(
  90deg,
  rgb(240, 209, 236),
  rgb(93, 208, 236),
  rgb(203, 203, 203),
  rgb(203, 154, 235)
);
$sectionColor: rgb(158, 188, 245);
$pink: rgb(209, 0, 109);
