@import "./variables";
@import "./mixins";
section * {
  scrollbar-width: none;
  overflow: hidden;
}
// [data-page="videos"] main {

// }
.youtube-channel {
  p {
    font-size: 3rem;
    color: $h2Color;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .youtube-icon {
    strong {
      font-family: "Poetsen One", sans-serif;
      font-size: 2rem;
    }
  }
  i {
    color: red;
  }
  a:visited {
    color: $h2Color;
  }
}
#videos-main .container {
  flex-direction: column;
display: flex;
}
.youtube-videos {
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    h2 {
      text-align: center;
    }
    .video-items {
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 150%;
      border-radius: 3rem;
      padding: 1rem;
    }
    .video-item {
      width: 100%;
      max-width: 150%;
      margin: 1rem auto 1%;
      max-height: 45rem;
      box-shadow: $mainBoxShadow;
      border-radius: 4.2rem;
      border: 1rem $mainColor outset;
    }
  }
  iframe {
    box-shadow: $mainBoxShadow;
    background-color: $mainColor;
    border-radius: 3rem;
    width: 100%;
    height: 45rem;
    max-width: 150%;
    display: block;
    margin: 0 auto;
    border: 0.5rem outset $pink;
    &:hover {
      transition: 1s;
      border: $h2Color 0.5rem outset;
    }
  }
}

// Responsivness
@media screen and (max-width: 1400px) {
  .youtube-videos .container {
    flex-direction: column;
    display: block;
    width: 100%;
  }
  .video-items {
    width: 100%;
    max-width: 100%;
    .video-item {
      height: 35rem;
      iframe {
        height: 35rem;
      }
    }
  }
}
@media screen and (max-width: 1150px) {
  .youtube-videos .container {
    flex-direction: column;
    display: block;
    width: 100%;
  }
  .video-items {
    width: 100%;
    max-width: 100%;
    .video-item {
      height: 30rem;
      iframe {
        height: 30rem;
      }
    }
  }
}
@media only screen and (max-width: 830px) {
  .youtube-videos .container {
    flex-direction: column;
    display: block;
    width: 100%;
  }
  .video-items {
    width: 100%;
    max-width: 100%;
    .video-item {
      height: 25rem;
      iframe {
        height: 25rem;
      }
    }
  }
}

@media only screen and (max-width: 650px) {
  .youtube-videos .container {
    flex-direction: column;
    display: block;
    width: 150%;
  }
  .video-items {
    width: 150%;
    max-width: 150%;
    .video-item {
      height: 20rem;
      iframe {
        height: 20rem;
      }
    }
  }
}
@media only screen and (max-width: 560px) {
  .youtube-videos .container {
    flex-direction: column;
    display: block;
    width: 150%;
  }
  .video-items {
    width: 150%;
    max-width: 150%;
    .video-item {
      height: 15rem;
      iframe {
        height: 15rem;
      }
    }
  }
}

@media only screen and (max-width: 430px) {
  .youtube-videos .container {
    flex-direction: column;
    display: block;
    width: 150%;
  }
  .video-items {
    width: 150%;
    max-width: 150%;
    .video-item {
      height: 12rem;
      iframe {
        height: 12rem;
      }
    }
  }
}
